<div>
    <h2>Contact</h2>
    <p>Pour toute question, suggestion ou ragot croustillant, écrivez-nous à :</p>
    <p><strong><a href="mailto:contact@gossip.fr">contact@gossip.fr</a></strong></p>
</div>