<header>
    <nav>
        <%= link_to "Accueil", root_path, class: "nav-link" %>
    </nav>
</header>

<main>
    <h1>Contact</h1>
    <p>Pour toute question, suggestion ou ragot croustillant, écrivez-nous à :</p>
    <p><strong><a href="mailto:contact@gossip.fr">contact@gossip.fr</a></strong></p>
</main>